<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <nav class="navbar fixed-top" style="background-color: #b3e2ff;">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">
      <h4>〇〇企業&ensp;様</h4>
      </a>
    <div class="ms-auto"></div>
    <%= link_to "企業管理画面", "#", class: "btn btn-outline-primary text-nowrap mx-4" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" style="background-color: #b0c4de;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <label for="gender-select" class="form-label">性別</label>
            <select class="form-select" aria-label="gender-select" id="gender-select">
              <option selected>選択してください</option>
              <option value="1">男</option>
              <option value="2">女</option>
              <option value="3">その他</option>
            </select>
          </li>
          <li class="nav-item">
            <label for="age-group-select" class="form-label">年齢</label>
            <select class="form-select" aria-label="age-group-select" id="age-group-select">
              <option selected>選択してください</option>
              <option value="1">10代</option>
              <option value="2">20代</option>
              <option value="3">30代</option>
              <option value="4">40代</option>
              <option value="5">50代</option>
              <option value="6">60代</option>
            </select>
          </li>
          <li class="nav-item">
            <label for="period-select" class="form-label">期間</label>
            <select class="form-select" aria-label="period-select" id="period-select">
              <option selected>選択してください</option>
              <option value="1">1ヵ月</option>
              <option value="2">6か月</option>
              <option value="3">12か月</option>
            </select>
          </li>
          <li class="nav-item">
            <label for="department-select" class="form-label">部署</label>
            <select class="form-select" aria-label="department-select" id="department-select">
              <option selected>選択してください</option>
              <option value="1">営業</option>
              <option value="2">総務</option>
              <option value="3">経理</option>
              <option value="4">製造</option>
            </select>
          </li>
          <li class="nav-item">
            <label for="job-function-select" class="form-label">業務内容</label>
            <select class="form-select" aria-label="job-function-select" id="job-function-select">
              <option selected>選択してください</option>
              <option value="1">〇〇</option>
              <option value="2">××</option>
              <option value="3">◆◆</option>
            </select>
          </li><li class="nav-item">
            <label for="employment-type-select" class="form-label">雇用形態</label>
            <select class="form-select" aria-label="employment-type-select" id="employment-type-select">
              <option selected>選択してください</option>
              <option value="1">正社員</option>
              <option value="2">契約社員</option>
              <option value="3">無期雇用</option>
              <option value="4">パート・アルバイト</option>
            </select>
          </li>
          <li class="nav-item">
            <label for="service-year-select" class="form-label">勤続年数</label>
            <select class="form-select" aria-label="service-year-select" id="service-year-select">
              <option selected>選択してください</option>
              <option value="1">1年～3年</option>
              <option value="2">4年～10年</option>
              <option value="3">11年～20年</option>
              <option value="4">21年以上</option>
            </select>
          </li>
          <li class="nav-item">
            <button type="submit" class="btn btn-primary m-3">条件変更</button>
          </li> 
        </ul>
      </div>
    </div>
  </div>
  </nav>
<%# メイン画面%>
  <main class="main-body">
    <div class="container ">
      <div class="row mt-5">
        <div class="col-10">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">年間労働生産損失額</h5>
              <p class="card-text">￥120,000,00</p>
              <span class="badge text-bg-primary mx-4 mb-1">モデルケース</span>
                <%= line_chart [['2019-06-01', 100], ['2019-06-02', 200], ['2019-06-03', 150], ['2019-06-07', 250]], width: "auto", height: "200px" %>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card mb-2" style="width: 10rem;">
            <div class="card-header">
              <span class="badge text-bg-secondary">モデル</span>
              <h6>損失額推移</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>半年後</h6>
                <p>￥120,000,00</p>
              </li>
              <li class="list-group-item">
                <h6>1年後</h6>
                <p>￥120,000,00</p>
              </li>
            </ul>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card my-2">
            <div class="card-body">
              <p>症状ランキング（１位～５位）</p>
              <%= bar_chart [['首、肩の痛み', 250],['背中の痛み', 200], ['腰痛', 150], ['関節の痛み', 100], ['頭痛', 100]],
                min: 0,
                max: 300,
                suffix: "人",
                thousands: ","
              %>
            </div>
          </div>            
        </div>
        <div class="col">
          <div class="card my-2">
            <div class="card-body">
              <p>損失レベル</p>
              <div class="row">
                <div class="col text-center">
                  <span class="badge text-white" style="background-color: #dc143c;">アブセンティーズム総額</span>
                  <h6>￥120,000,00</h6>
                </div>
                <div class="col text-center">
                  <span class="badge text-white" style="background-color: #9932cc;">プレセンティーズム総額</span>
                  <h6>￥120,000,00</h6>
                </div>
              </div>
              <%= bar_chart [['アブセンティーズム', 25],['上位25%', 20], ['上位25%～50%', 15], ['上位50%～75%', 10], ['上位75%～100%', 33]],
                min: 0,
                max: 100,
                suffix: "人",
                thousands: ",",
                colors: ["#dc143c","#9932cc","#9932cc","#9932cc","#9932cc"]
              %>
            </div>            
          </div>
        </div>
        <div class="col">
          <div class="card my-2">
            <div class="card-body">
              <p>企業診断</p>
              <%= pie_chart [['損失総額', 100], ['利益', 250]],
                colors: ["#b3afa1","#ffd700"]
              %>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </main>

</body>
</html>
